# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Logs
# ----------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------
# Environment variables
# ----------------------
.env
.env.*
!.env.example

# ----------------------
# Node.js
# ----------------------
node_modules/
dist/
build/
coverage/

# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/

# ----------------------
# Java
# ----------------------
target/
*.class
*.jar
*.war

# ----------------------
# Go
# ----------------------
bin/
*.exe
*.test

# ----------------------
# C / C++
# ----------------------
*.o
*.out
*.a
*.so

# ----------------------
# Docker
# ----------------------
.dockerignore

# ----------------------
# IDE
# ----------------------
.vscode/
.idea/

# ----------------------
# Terraform
# ----------------------
.terraform/
*.tfstate
*.tfstate.*

# ----------------------
# Kubernetes
# ----------------------
*.secret.yaml
